@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  padding: 20px;
}

.navbar .navbar-brand {
  font-weight: 600;
  font-size: 30px;
  color: #112D4E;
  transition: all 0.3s ease;
}

.navbar .navbar-brand:hover {
  transform: translateX(10px);
}

.navbar .collapse {
  flex-direction: row-reverse;
}

.navbar .collapse .nav-link {
  margin-right: 20px;
  color: #112D4E;
  font-weight: 600;
  transition: all 0.3s ease;
}
.navbar .collapse .nav-link:hover {
  color: #8758FF;
  transform: scale(1.05);
}

.navbar .navbar-brand i {
  color: #81CACF;
}

.home-page {
  margin-right: 1px;
  min-height: 100vh;
  background-image: url(../assets/home-page.png);
}

.left1 {
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  margin-left: 100px;
  margin-top: -50px;
}

.home-page .left1 h1 {
  font-size: 80px;
  font-weight: bolder;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 40px;
  color: #112D4E;
}

.home-page .left1 p {
  margin-left: 5px;
  color: grey;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  color: #112D4E;
}

.home-page .left1 .small-p {
  font-size: 15px;
  color: grey;
}

.home-page .left1 .custom-btn {
  margin-top: 10px;
}

.home-page .left1 .custom-btn .create-btn {
  margin-bottom: 20px;
  border-radius: 20px;
  padding: 20px;
  font-family: 'Poppins', sans-serif;
  background-color: #8758FF;
  box-shadow: 2px 2px 15px #8758FF;
  color: #fff;
  border: none;
}

.home-page .left1 .custom-btn .create-btn i {
  margin-left: 20px;
  margin-right: 5px;
  transition: all 0.3s ease;
}

.home-page .left1 .custom-btn .create-btn:hover i {
  transform: translate(10px);
}

.heading {
  color: #212332;
  padding-top: 30px;
  padding-bottom: 20px;
}
/* Views */

.image{
  float: right;
  margin-right: 100px;
  height: 600px;
}
.text{
  margin-left: 170px;
}
.heading2{
  font-size: 50px;
  color: #21295f;
}
.number{
  font-size: large;
  background-color: #8f9ceb;
  width: 50px;
  height: 60px;
  border: transparent;
  border-radius: 10px;
  box-shadow: 5px 4px 4px rgb(71, 71, 96);
  display: inline-block;
}
.number1{
  font-size: large;
  background-color: #efa64c;
  width: 50px;
  height: 60px;
  border: transparent;
  border-radius: 10px;
  box-shadow: 5px 4px 4px rgb(187, 103, 35);
  display: inline-block;
}
.number2{
  margin-left: 10px;
  display: inline-block;
  
}
.numbers{
  font-size: 30px;
  text-align: center;
  margin-left: 10px;
}
.text1{
  margin-left: 20px;
}

.contact{
  background: black;
    color: white;
    
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.demo{
  color: #DC7633;
  margin-left: 6px;
}

.desc{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
    opacity: 1;
    color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}
.heading{

  font-size: 40px;
  font-weight: 700;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  line-height: 15px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.name label,.email label,.company label ,.budget label{

  font-weight: 500;
  font-size: 16px;
  color: #DC7633;
}
.name,.email,.company,.budget {
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  gap: 1rem;
  margin-bottom: 1rem;
}

.cc{
  align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
}
.usrname{
  margin-left: 6px;
}
.name input{

  width: 600px;
  height: 45px;
  border-radius: 20px;
 border: none;
}
.email input{

  width: 600px;
  height: 45px;
  border-radius: 20px;
  border: 1px solid transparent;

  
}
.button{
  margin-bottom: 25px;
  gap: 1rem;
}
.btnn{
  width: 600px;
  height: 45px;
  margin-top: 20px;
  color: white;
  background: #DC7633;
  font-weight: 700;
  font-size: 16px;

  border-radius: 50px;
}

.company input{
  width: 600px;
  height: 45px;
  border-radius: 20px;
  border: 1px solid transparent;
}
.budget input{
  width: 600px;
  height: 45px;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border: 1px solid transparent;
}
.name input::placeholder,.email input::placeholder, .company input::placeholder, .budget input::placeholder{

  padding-left: 10px;
  word-spacing: 1px;
  color: rgba(0.1,0.1,0.1,0.61);
  font-weight: 500;
}


/* ANALYTICS STYLING */

* {
  font-family: sans-serif;
}
.analyticsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
  flex-wrap: wrap;
}
.left {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.left h1 {
  font-size: 50px;
}
.left p {
  font-size: 17px;
  font-weight: 700;
  line-height: 2rem;
}
.inner {
  width: 60%;
}
.right {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  align-items: center;

  justify-content: space-around;
  flex-direction: row;
}
.rightInner {
  width: 70%;
  display: flex;

  align-items: center;
  justify-content: space-around;
}
.user {
  height: 150px;
  border-radius: 10px;
  width: 200px;
  padding: 30px;
  color: white;
  background-color: dodgerblue;
}
.user h1 {
  font-size: 40px;
}
.rating {
  height: 150px;
  width: 200px;
  border-radius: 10px;
  padding: 30px;
  color: white;
  background-color: #36454f;
}
.checked {
  color: orange;
}
.rating h1 {
  font-size: 40px;
}

@media screen and (max-width: 1600px) {
  .analyticsContainer {
    padding: 0px;
  }
  .right {
    width: 100%;
  }
  .rightInner {
    width: 100%;
  }
}

@media screen and (max-width: 1000px) {
  .inner {
    width: auto;
  }
}
@media screen and (max-width: 500px) {
  .rightInner {
    flex-wrap: wrap;
  }
  .user {
    margin-bottom: 50px;
  }
}
