@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Gemunu Libre', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("./images/BGCover.jpg");
  background-size: cover;
  color: #fff;
  font-weight: 500;
}

.container {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.671);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h3 {
  font-size: 3rem;
  margin-top: 25px;
}

.form-container {
  width: 550px;
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 20px;
}

.form-container,
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  width: 400px;
  height: 50px;
  font-size: 20px;
  font-family: 'Gemunu Libre', sans-serif;
  padding: 10px;
  border: none;
  outline: none;
  color: #fff;
  background-color: transparent;
  border-bottom: 2px solid #b44332;
}

.tc {
  display: flex;
  align-items: center;
  gap: 5px;
  text-align: center;
}

button {
  width: 400px;
  height: 50px;
  font-size: 20px;
  color: #fff;
  font-family: 'Gemunu Libre', sans-serif;
  background-color: #b44332;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  outline: none;
  transition: all 0.2s;
}

button:hover {
  box-shadow: rgba(162, 162, 162, 0.19) 0px 5px 10px, rgba(162, 162, 162, 0.19) 0px 3px 3px;
}

.form-footer {
  color: rgb(71, 71, 71);
  margin-bottom: 25px;
  font-weight: 500;
  font-size: 20px;
}

.form-footer a {
  color: #fff;
  text-decoration: none;
}

.form-footer a:hover {
  text-decoration: underline;
}


@media only screen and (max-width: 600px) {
  body {
    font-size: 90%;
  }

  .form-container {
    width: 450px;
  }

  input[type="text"],
  input[type="password"],
  input[type="email"] {
    width: 350px;
  }
}